body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 84, 118, 0.361);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 30px;
}

nav ul {
    display: flex;
}

ul {
    list-style: none;
}

h1 {
    margin-left: 10px;
}

.plan{
    color:rgb(23, 84, 118);
}