body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(121, 190, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    color: rgb(78, 105, 143);
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgb(199, 202, 202);
    background-color: rgb(203, 224, 238);
    border-radius: 20px;
}

.cell:hover {
    background-color: azure;
}

.status {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#reset{
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(73, 103, 141);
    color: #fff;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}

#toggleDarkMode {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(73, 103, 141);
    color: #fff;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}

#reset:hover{
    background-color: rgb(137, 163, 197);
}

#toggleDarkMode:hover {
    background-color: rgb(137, 163, 197);
}

.dark-mode{
    background-color: #333;
}

.dark-mode .cell{
    background-color: rgb(139, 136, 136)
}

.dark-mode .cell:hover{
    border: 1px solid #fff;
    background-color: rgb(201, 198, 198); 
}
